<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>337409616478-3268s1vi9f3n9eg7sg0e09qprj3703qd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.337409616478-3268s1vi9f3n9eg7sg0e09qprj3703qd</string>
	<key>API_KEY</key>
	<string>AIzaSyBJjNeTmwVmORaD1hF6ULmeZbC0A_kpSyM</string>
	<key>GCM_SENDER_ID</key>
	<string>337409616478</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tkharel.cis195app</string>
	<key>PROJECT_ID</key>
	<string>cis195-final</string>
	<key>STORAGE_BUCKET</key>
	<string>cis195-final.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:337409616478:ios:62cc1b787d184bd1ed22cf</string>
</dict>
</plist>